<section>
<style>
body{
background-color: #E7E7E7 !important;
}

#footer {
	width:100%;
	height:24px;
	position:absolute;
	bottom:0;
	left:0;
}

</style>

</div>

<div class="container">
	<div style="border:3px solid rgba(242, 133, 0, 1.5); border-radius: 20px" class="row">
            <div class="col-md-12 col-sm-12" >
            	<a href="#imoveis" title="Login" onClick='imoveisUtil()'><button style="width: 100%; border-radius: 15px;">Atualizar</button></a>
            </div>
	</div>
          
      
    </div>
    
 <div class="container" >
 	<div class="row" >
        <div id="uSemResultados" hidden class="col-md-12 col-sm-12" align="center"><br><h4 style="color: red"><strong>De momento não tem alugueres!</h4></div>
    </div> 
    <div class="col-md-12"><br></div>
            <!-- ['Localidade', 'Endereço', 'CPostal', 'Tipo', 'Preco', 'TempoMinimo', 'Area', 'Descriçao', ['Imagen1','Imagem2'], 'Senhorio', 'Arrendatario']-->
    <div class="row" id="uResultados" align="center">
    </div>	 <!-- /container -->
    	

    
   	<div id="footer" align="center">
        <p align="center"> &copy; myPlaceRadar - MAS 2015/16 - Tiago_Cardoso/Fabio_Barros/Nuno_Silva</p>
    </div>


    
</section>