<section>
<style>
body{
background-color: #E7E7E7 !important;
}

#footer {
	width:100%;
	height:24px;
	position:absolute;
	bottom:0;
	left:0;
}

</style>


<div class="container">
	<div class="col-md-3 col-sm-0"> </div>
	<div class="col-md-6 col-sm-12" style="border:3px solid rgba(242, 133, 0, 1.5); border-radius: 20px;" class="row">
		<div class="col-md-12 col-sm-12" align="center"><h2 style="margin-left: 10px; color: rgba(242, 133, 0, 1.5)"><strong>Nova Conta:</h2><br></div>
      
      		<div class="col-md-2 col-sm-0"> </div>
            <div class="col-md-4 col-sm-12" align="center">
            	<label>Tipo de Conta:</label>
            </div>
            <div class="col-md-4 col-sm-12" align="center">
            	<select style="border: 2px solid rgba(242, 133, 0, 0.5); text-align: center; border-radius: 10px; " id="tipo" onChange="updateFormNewAccount()">
                    <option disabled> Tipo? </option>
                    <option value="User"> - Arrendatário - </option>
                    <option value="Owner"> - Senhorio - </option>
                </select>
            </div>
			<div class="col-md-2 col-sm-0"> </div>
            <div class="col-md-12 col-sm-0"><br></div>
            
            
            
            
            <div class="col-md-2 col-sm-0"> </div>
            <div class="col-md-4 col-sm-12" align="center">
            	<label>Nome:</label>
            </div>
            <div class="col-md-4 col-sm-12" align="center">
            	<input type="text" style="border: 2px solid rgba(242, 133, 0, 0.5); text-align: center; border-radius: 10px; " id="name">
            </div>
			<div class="col-md-2 col-sm-0"> </div>
            <div class="col-md-12 col-sm-0"><br></div>
            
            
            
            
            
            <div class="col-md-2 col-sm-0"> </div>
            <div class="col-md-4 col-sm-12" align="center">
            	<label>E-mail:</label>
            </div>
            <div class="col-md-4 col-sm-12" align="center">
            	<input type="email" style="border: 2px solid rgba(242, 133, 0, 0.5); text-align: center; border-radius: 10px; " id="email">
            </div>
			<div class="col-md-2 col-sm-0"> </div>
            <div class="col-md-12 col-sm-0"><br></div>
            
            
            
            
            
            <div class="col-md-2 col-sm-0"> </div>
            <div class="col-md-4 col-sm-12" align="center">
            	<label>Nome de Utilizador:</label>
            </div>
            <div class="col-md-4 col-sm-12" align="center">
            	<input type="text" style="border: 2px solid rgba(242, 133, 0, 0.5); text-align: center; border-radius: 10px; " id="username">
            </div>
			<div class="col-md-2 col-sm-0"> </div>
            <div class="col-md-12 col-sm-0"><br></div>
            
            
            
            
            <div class="col-md-2 col-sm-0"> </div>
            <div class="col-md-4 col-sm-12" align="center">
            	<label>Palavra-Passe:</label>
            </div>
            <div class="col-md-4 col-sm-12" align="center">
            	<input type="password" style="border: 2px solid rgba(242, 133, 0, 0.5); text-align: center; border-radius: 10px; " id="password">
            </div>
			<div class="col-md-2 col-sm-0"> </div>
            <div class="col-md-12 col-sm-0"><br></div>
            
            
            
            
             <div class="col-md-2 col-sm-0"> </div>
            <div class="col-md-4 col-sm-12" align="center">
            	<label>Repita Palavra-Passe:</label>
            </div>
            <div class="col-md-4 col-sm-12" align="center">
            	<input type="password" style="border: 2px solid rgba(242, 133, 0, 0.5); text-align: center; border-radius: 10px; " id="password2">
            </div>
			<div class="col-md-2 col-sm-0"> </div>
            <div class="col-md-12 col-sm-0"><br></div>
            
            
            
            
            <div class="col-md-2 col-sm-0"> </div>
            <div class="col-md-4 col-sm-12" align="center">
            	<label>Contacto:</label>
            </div>
            <div class="col-md-4 col-sm-12" align="center">
            	<input type="number" style="border: 2px solid rgba(242, 133, 0, 0.5); text-align: center; border-radius: 10px; " id="number">
            </div>
			<div class="col-md-2 col-sm-0"> </div>
            <div class="col-md-12 col-sm-0"><br></div>
            
            
            
            
            <div class="col-md-2 col-sm-0"> </div>
            <div class="col-md-4 col-sm-12" align="center">
            	<label>NIF:</label>
            </div>
            <div class="col-md-4 col-sm-12" align="center">
            	<input type="number" style="border: 2px solid rgba(242, 133, 0, 0.5); text-align: center; border-radius: 10px; " id="nif">
            </div>
			<div class="col-md-2 col-sm-0"> </div>
            <div class="col-md-12 col-sm-0"><br></div>
            
			
            <div id="opcoesOwner" hidden>
            
            	<div class="col-md-2 col-sm-0"> </div>
                <div class="col-md-4 col-sm-12" align="center">
                    <label>Rua/Porta:</label>
                </div>
                <div class="col-md-4 col-sm-12" align="center">
                    <input type="text" style="border: 2px solid rgba(242, 133, 0, 0.5); text-align: center; border-radius: 10px; " id="street">
                </div>
                <div class="col-md-2 col-sm-0"> </div>
                <div class="col-md-12 col-sm-0"><br></div>
            
            
            
            
                <div class="col-md-2 col-sm-0"> </div>
                <div class="col-md-4 col-sm-12" align="center">
                    <label>Localidade:</label>
                </div>
                <div class="col-md-4 col-sm-12" align="center">
                    <input type="text" style="border: 2px solid rgba(242, 133, 0, 0.5); text-align: center; border-radius: 10px; " id="local">
                </div>
                <div class="col-md-2 col-sm-0"> </div>
                <div class="col-md-12 col-sm-0"><br></div>
                
                
                
                
                <div class="col-md-2 col-sm-0"> </div>
                <div class="col-md-4 col-sm-12" align="center">
                    <label>Codigo-Postal:</label>
                </div>
                <div class="col-md-4 col-sm-12" align="center">
                    <input type="text" style="border: 2px solid rgba(242, 133, 0, 0.5); text-align: center; border-radius: 10px; " id="postal">
                </div>
                <div class="col-md-2 col-sm-0"> </div>
                <div class="col-md-12 col-sm-0"><br></div>

            </div>


           	<div id="erroNovaConta" hidden class="col-md-12 col-sm-12" align="center"><br><h4 style="color: red"><strong>TESTE</h4></div>
            <div class="col-md-12 col-sm-12"><hr></div>
            <div class="col-md-12 col-sm-12" align="center">
            	<button onClick='tryNewAccount()'; style="border: 2px solid rgba(242, 133, 0, 0.5); background-color:rgba(242, 133, 0, 0.5); width: 100px; border-radius: 15px;">Criar Conta</button>
            </div>
           
          <div class="col-md-12 col-sm-12" >
            <br>
            </div>
		 
	</div>
    <div class="col-md-3 col-sm-0"> </div>      
      
    </div> <!-- /container -->
    

     
    	

    
     <div id="footer" align="center">
        <p align="center">&reg; myPlaceRadar - MAS 2015/16 - Tiago_Cardoso/Fabio_Barros/Nuno_Silva</p>
      </div>

    
</section>

