<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="margin-left: 2vw; "class="navbar-brand" href="#">
                <i class="fa fa-university"></i>
                <span style="color:rgba(242, 133, 0, 1.5)"><strong>myPlaceRadar</strong></span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           
           
           
            <ul style="background-color: #E5D2B1;  margin-right: 2vw;" class="nav navbar-nav navbar-right" >
            <li class="dropdown">
       		<a class="dropdown-toggle" data-toggle="dropdown">Opções
        	<span class="caret"></span></a>
        	<ul class="dropdown-menu" data-bind="foreach: router.navigationModel">
           <li style="color:rgba(242, 133, 0, 1.5);" data-bind="css: { active: isActive }">
         <a data-bind="attr: { href: hash, title: title }, html: menu"></a>
         </li>
        </ul>
      </li>
                         
            
            
            
            
        </div>
    </nav>
    <div class="page-host" data-bind="router: { transition:'entrance' }"></div>
</div>