<section>
<style>
.jumbotron{
	background-opacity:0.5;
	background:url("Content/images/indexbg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

body{
background-color: #E7E7E7 !important;
}


</style>

<div class="jumbotron" style="height:45vh;">
</div>

<div class="container">
	<div style="border:3px solid rgba(242, 133, 0, 1.5); border-radius: 20px" class="row">
		<h2 style="margin-left: 10px; color: rgba(242, 133, 0, 1.5)"><strong>Procura:</h2>
        
            <div class="col-md-1 col-sm-12" align="center">
            	<label>Localidade:</label>
            </div>
            <div class="col-md-2 col-sm-12" align="center">
            	<input type="text" placeholder="Onde?" style="border: 2px solid rgba(242, 133, 0, 0.5); text-align: center; border-radius: 10px; margin-left: 10px;" id="localidade">
                <br>
            </div>
                        
            <div class="col-md-1 col-sm-12" align="center">
            <label style="display:inline;">Preço:</label>
            </div>
            <div class="col-md-5 col-sm-12" align="center">
 			<input style="display:inline; width:10vw; margin-right:0px;" type="range" name="price-min" id="price-min" value="150" min="0" max="350">
            <input style="display:inline; width:10vw; margin-left:0px;" type="range" name="price-min" id="price-min" value="400" min="350" max="700">
            </div>
            
            
            <div class="col-md-1 col-sm-12" align="center">
            	<label>Tipologia:</label>
            </div>
            <div class="col-md-2 col-sm-12" align="center">
            	<select style="border: 2px solid rgba(242, 133, 0, 0.5); text-align: center; border-radius: 10px; margin-left: 10px;" id="tipo">
            	<option disabled> Tipo? </option>
            	<option value="T0"> - T0 - </option>
            	<option value="T1"> - T1 - </option>
                <option value="T2"> - T2 - </option>
                <option value="T3"> - T3 - </option>
                <option value="T4"> - T4 - </option>
                <option value="T5"> - T5 - </option>
                <option value="T2D"> - T2 Duplex - </option>
                <option value="T3D"> - T3 Duplex - </option>
                <option value="T4D"> - T4 Duplex - </option>
                
            </select>
                <br>
            </div>
            
          <br><br>

	</div>
          
      
    </div> <!-- /container -->
    

     
    	

    
     <footer style=" bottom: 0vh; margin-left: 20px; margin-top: 50px;" align="center">
        <p align="center"> &copy; myPlaceRadar - MAS 2015/16 - Tiago_Cardoso/Fabio_Barros/Nuno_Silva</p>
      </footer>

    
</section>

